@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif;
  --webkit-fon-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}
